{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
    <div class="col-lg-12">
        <h1>Outgoing Invoice List</h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active"><i class="fa fa-list"></i> Outgoing Invoice's</li>
        </ol>
        {% if app.request.get('successMessage') %}    
{#        <?php if (isset($_GET['successMessage'])): ?>#}
        <div class="alert alert-dismissable alert-success">
            <button class="close" data-dismiss="alert" type="button"></button>
            {{ app.request.get('successMessage') }}
{#            <?php echo $_GET['successMessage']; ?>#}
        </div>
        {% endif %}
{#        <?php endif ?>#}
        {% if app.request.get('errorMessage') %}
{#        <?php if (isset($_GET['errorMessage'])): ?>#}
            <div class="alert alert-dismissable alert-danger">
                <button class="close" data-dismiss="alert" type="button"></button>
                {{ app.request.get('errorMessage') }}
{#                <?php echo $_GET['errorMessage']; ?>#}
            </div>
        {% endif %}        
{#        <?php endif ?>#}
        <a href="{{ path('create_invoice') }}" class="btn btn-default">New invoice</a><br/><br/>
        <div class="table-responsive">
            <table class="table table-bordered table-hover tablesorter">
                <thead>
                <tr>
                    <th>Invoice number <i class="fa fa-sort"></i></th>
                    <th>Sell Date <i class="fa fa-sort"></i></th>
                    <th>Creation Date<i class="fa fa-sort"></i></th>
                    <th>Buyer <i class="fa fa-sort"></i></th>
                    <th>Total price <i class="fa fa-sort"></i></th>
                </tr>
                </thead>
                <tbody>
                    {% for invoice in invoices %}
                        <tr>
                            <td>{{ invoice.number }}</td>
                            <td>{{ invoice.number }}</td>
                            <td>{{ invoice.number }}</td>
                            <td>{{ invoice.buyerName }}</td>
                            <td>{{ invoice.totalPrice }} PLN</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ path('create_invoice') }}" class="btn btn-default">New invoice</a>
    </div>
</div>

{% endblock body %}